@font-face {
  font-family: "Montserrat Alternates";
  src: url("fonts/MontserratAlternates-Bold.woff");
  font-weight: 700;
}
@font-face {
  font-family: "Montserrat Alternates";
  src: url("fonts/MontserratAlternates-Medium.ttf");
  font-weight: 500;
}
body {
  font-family: Montserrat Alternates;
}
.nav-item {
  display: inline;
  margin-inline: 30px;
  font-size: 16px;
  font-weight: 700;
  white-space: nowrap;
}
.navbar-nav {
  margin-left: 60px;
}
.navbar {
  margin-top: 10px;
  margin-bottom: 10px;
}
.my-btn-box-1 {
  text-align: center;
  margin-left: auto;
  float: right;
  order: 1;
}
.my-nav-box-name {
  margin-inline: 20px;
  margin-bottom: 0px;
  font-size: 16px;
  font-weight: 700;
  white-space: nowrap;
}
.my-nav-box-name img {
  margin-left: 10px;
}
.my-nav-box-btn-out {
  padding-right: 0px;
}
@media (min-width: 1000px) {
  .my-btn-box-1-lg {
    text-align: center;
    margin-left: auto;
    float: right;
    order: 1;
  }
  .my-btn-box-2-lg {
    text-align: center;
    float: right;
    order: 2;
  }
  .my-btn-box-1-sm {
    display: none;
  }
  .my-btn-box-2-sm {
    display: none;
  }
}
@media (max-width: 999px) {
  .my-btn-box-1-sm {
    text-align: center;
    order: 1;
  }
  .my-btn-box-2-sm {
    text-align: center;
    order: 2;
  }
  .my-btn-box-1-lg {
    display: none;
  }
  .my-btn-box-2-lg {
    display: none;
  }
}
.btn-primary {
  font-family: Montserrat Alternates;
  font-weight: 700;
  font-size: 14px;
  padding: 10px 26px 10px 26px;
  margin-top: 6px;
  margin-bottom: 6px;
  border-radius: 8px;
  border: 0px;
  color: white !important;
  background: linear-gradient(120deg, #ff0000 0%, #ffc700 100%) !important;
  cursor: pointer;
  transition: 0.2s;
}
.btn-primary:hover {
  background: white !important;
  color: black !important;
  box-shadow: inset 0 0 0 2.1px black !important;
}
.btn-primary:active {
  background: linear-gradient(120deg, #ff0000 0%, #ffc700 100%) !important;
  color: white !important;
  box-shadow: none !important;
}
.btn-outline-primary {
  font-family: Montserrat Alternates;
  font-weight: 700;
  font-size: 14px;
  padding: 10px 26px 10px 26px;
  margin-top: 6px;
  margin-bottom: 6px;
  border-radius: 8px;
  border: 0px;
  box-shadow: inset 0 0 0 2.1px black !important;
  color: black !important;
  background: white !important;
  cursor: pointer;
  transition: 0.2s;
}
.btn-outline-primary:hover {
  background: linear-gradient(120deg, #ff0000 0%, #ffc700 100%) !important;
  color: white !important;
  box-shadow: none !important;
}
.btn-outline-primary:active {
  background: white !important;
  color: black !important;
  box-shadow: inset 0 0 0 2.1px black !important;
}
.footer-margin-top {
  margin-top: 200px;
}
.footer-text-14 {
  font-size: 14px;
  font-weight: 500;
}
.footer-text-12 {
  font-size: 12px;
}
.my-footer-box {
  float: right;
  margin-left: auto;
}
.color-text-red {
  color: #ff7a00;
  cursor: pointer;
  transition: 0.2s;
}
.color-text-red:hover {
  color: #595c5f;
}
.color-text-grey {
  color: #595c5f;
  cursor: pointer;
  transition: 0.2s;
}
.color-text-grey:hover {
  color: #ff7a00;
}
.my-carousel {
  margin-top: 50px;
  margin-bottom: 50px;
}
@media (min-width: 1200px) {
  .carousel-container-lg {
    display: flex;
    float: left;
    margin-right: 10px;
    padding: 100px 150px 100px 150px;
  }
  .carousel-container-sm {
    display: none;
  }
}
@media (max-width: 1199px) {
  .carousel-container-sm {
    padding: 40px 80px 60px 80px;
  }
  .carousel-container-lg {
    display: none;
  }
}
@media (max-width: 769px) {
  .carousel-container-sm {
    padding: 20px 20px 60px 20px;
  }
  .carousel-control-prev {
    display: none;
  }
  .carousel-control-next {
    display: none;
  }
  .carousel-container-lg {
    display: none;
  }
}
.carousel-image-lg {
  object-fit: contain;
  margin: auto;
}
.carousel-image-sm {
  object-fit: contain;
  margin: auto;
  padding-top: 40px;
}
.carousel-text-lg {
  padding-left: 100px;
}
.carousel-text-sm {
  padding-top: 40px;
}
.carousel-text-lg h5,
.carousel-text-sm h5 {
  font-size: 26px;
  font-weight: 700;
}
.carousel-text-lg p,
.carousel-text-sm p {
  font-size: 16px;
  font-weight: 500;
  color: #595c5f;
}
.my-border {
  border-radius: 8px;
}
.carousel-indicators .btn {
  margin-top: 6px;
  margin-left: 6px;
  margin-right: 6px;
  padding: 2px 4px 2px 4px;
  border-radius: 8px;
  border: 0px;
}
.carousel-indicators .active {
  background: linear-gradient(120deg, #ff0000 0%, #ffc700 100%);
}
.card {
  padding: 20px 20px 20px 20px;
  margin: 20px 20px 20px 20px;
  border: 0px;
  cursor: pointer;
  transition: 0.2s;
}
.card:hover {
  background: white;
  color: black;
  box-shadow: inset 0 0 0 2.1px black;
}
.my-card-container {
  margin-left: -68px;
  margin-right: -68px;
}
.my-card-btn {
  text-align: center;
  margin-left: auto;
  float: right;
}
.my-view-all {
  margin-top: 180px;
  font-size: 28px;
  font-weight: 700;
  color: black;
}
.my-view-all-container {
  display: inline-block;
  cursor: pointer;
  transition: 0.2s;
}
.my-view-all-container:hover {
  opacity: 0.6;
}
.card-body h5 {
  font-size: 18px;
  font-weight: 700;
}
.card-body p {
  font-size: 16px;
  font-weight: 500;
  color: #595c5f;
}
.my-modal-title {
  font-size: 32;
  font-weight: 700;
  margin-top: 10px;
  text-align: center;
  display: block;
}
.my-modal-close-btn {
  display: flex;
  float: right;
  margin-right: 10px;
  margin-top: 10px;
}
.modal-body {
  margin-top: 20px;
  margin-left: 32px;
  margin-right: 32px;
}
.modal-footer-btn {
  border: 0px;
  display: block;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 40px;
}
.modal-dialog {
  border-radius: 8px;
  background: black;
}
.col-form-label {
  font-size: 14px;
  font-weight: 500;
  color: black;
}
.col-form-label-red {
  font-size: 14px;
  font-weight: 500;
  color: red;
  opacity: 0;
}
.open {
  opacity: 100;
}

.form-control:focus {
  border-color: black;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 2px black;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 2px black;
}
.btn-close:focus {
  box-shadow: none !important;
}
.btn-clear-text {
  font-family: Montserrat Alternates;
  font-weight: 700;
  font-size: 24px;
  padding: 10px 26px 10px 26px;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 8px;
  border: 0px;
  box-shadow: inset 0 0 0 2.1px black !important;
  color: black !important;
  background: white !important;
  cursor: pointer;
  transition: 0.2s;
}
.btn-clear-text:hover {
  background: linear-gradient(120deg, #ff0000 0%, #ffc700 100%) !important;
  color: white !important;
  box-shadow: none !important;
}
.btn-clear-text:active {
  background: white !important;
  color: black !important;
  box-shadow: inset 0 0 0 2.1px black !important;
}
.my-modal-footer-clear {
  margin-top: 20px;
  border: 0px;
  display: block;
  text-align: end;
  margin-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
}
.my-info-text-32 h1 {
  font-size: 32px;
  font-weight: 700;
  margin-top: 100px;
  text-align: center;
  display: block;
}
.my-info-text-16 {
  font-size: 16px;
  font-weight: 500;
  margin-top: 80px;
  margin-bottom: 40px;
  margin-left: 20px;
  margin-right: 20px;
  color: #595c5f;
  display: block;
}
.my-founder-text-32 h1 {
  font-size: 32px;
  font-weight: 700;
  margin-top: 80px;
  text-align: center;
  display: block;
}
.my-info-card-lg {
  padding: 20px 20px 20px 20px;
  margin: 80px 20px 20px 20px;
  border: 0px;
  border-radius: 8px;
  box-shadow: inset 0 0 0 2.1px black !important;
  color: black !important;
  background: white !important;
  display: flex;
  position: relative;
}
.my-info-card-sm {
  padding: 20px 20px 20px 20px;
  margin: 60px 5px 20px 5px;
  border: 0px;
  border-radius: 8px;
  box-shadow: inset 0 0 0 2.1px black !important;
  color: black !important;
  background: white !important;
}
.my-info-card-sm img,
.my-info-card-lg img {
  border-radius: 8px;
  object-fit: contain;
  margin: auto;
}
.my-info-card-text-lg {
  padding-left: 60px;
  padding-right: 40px;
}
.my-info-card-text-sm {
  padding-top: 20px;
  padding-bottom: 20px;
}
.my-info-card-text-lg h2 {
  font-size: 32px;
  font-weight: 700;
  text-align: start;
}
.my-info-card-text-sm h2 {
  font-size: 32px;
  font-weight: 700;
  text-align: center;
}
.my-info-card-text-lg p {
  font-size: 16px;
  font-weight: 500;
  color: #595c5f;
  text-align: start;
  display: block;
}
.my-info-card-text-sm p {
  font-size: 16px;
  font-weight: 500;
  color: #595c5f;
  text-align: center;
  display: block;
}
@media (min-width: 1200px) {
  .my-info-card-container-lg {
    padding-left: 220px;
    padding-right: 220px;
  }
  .my-info-card-container-sm {
    display: none;
  }
}
@media (max-width: 1199px) {
  .my-info-card-container-sm {
    padding-left: 20px;
    padding-right: 20px;
  }
  .my-info-card-container-lg {
    display: none;
  }
}
.my-velo-logo {
  float: right;
}
.my-btn-info-1 {
  text-align: center;
  margin-left: auto;
  float: right;
  order: 1;
}
.my-btn-info-2 {
  text-align: center;
  float: right;
  order: 2;
}
.my-btn-info-box {
  position: absolute;
  width: 100%;
  bottom: 14px;
  right: 10px;
}
.my-element-container {
  margin-top: 40px;
  padding-bottom: 80px;
  padding-left: 20px;
  padding-right: 20px;
}
.my-element-btn-primary {
  font-family: Montserrat Alternates;
  font-weight: 700;
  font-size: 20px;
  padding: 14px 32px 14px 32px;
  margin-right: 40px;
  border-radius: 8px;
  border: 0px;
  color: white !important;
  background: linear-gradient(120deg, #ff0000 0%, #ffc700 100%) !important;
  cursor: pointer;
  transition: 0.2s;
}
.my-element-btn-outline-primary {
  font-family: Montserrat Alternates;
  font-weight: 700;
  font-size: 20px;
  padding: 14px 32px 14px 32px;
  margin-right: 40px;
  border-radius: 8px;
  border: 0px;
  box-shadow: inset 0 0 0 2.1px black !important;
  color: black !important;
  background: white !important;
  cursor: pointer;
  transition: 0.2s;
}
.my-element-img {
  object-fit: contain;
  margin: auto;
}
@media (min-width: 1200px) {
  .my-element-info {
    padding-left: 80px;
    padding-right: 40px;
    padding-top: 20px;
    font-size: 16px;
    font-weight: 500;
    color: #595c5f;
  }
  .my-element-btn-container {
    margin-left: auto;
    margin-right: 40px;
    float: right;
  }
  .my-element-name h1 {
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    margin: 60px 30px 60px 30px;
  }
  .my-element-detail h1 {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin: 120px 30px 40px 30px;
  }
}
@media (max-width: 1199px) {
  .my-element-info {
    padding-top: 40px;
    font-size: 16px;
    font-weight: 500;
    color: #595c5f;
  }
  .my-element-btn-container {
    margin: auto;
    margin-bottom: 40px;
  }
  .my-element-name h1 {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin: 60px 30px 40px 30px;
  }
  .my-element-detail h1 {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin: 120px 30px 40px 30px;
  }
}
.my-element-detail-container {
  margin-top: 60px;
  padding-bottom: 100px;
}
.my-element-detail-column {
  font-size: 16px;
  font-weight: 500;
  color: #595c5f;
  padding-top: 20px;
  padding-left: 40px;
  padding-right: 40px;
}

.password {
  position: relative;
}
.password-control {
  position: absolute;
  top: 11px;
  right: 6px;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 6px;
  background: url(/res/view-password.svg) 0 0 no-repeat;
}
.password-control.view {
  background: url(/res/no-view-password.svg) 0 0 no-repeat;
}
